<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome to TechYOW</title>
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
</head>

<body>
<h1>TechYOW - Air Travel made 💸</h1>

<p>
    TechYOW is the next unicorn startup
    with 42 years<a id="footnote-1-ref" href="#footnote-1">*</a> of experience
    dedicated to revolutionize the Air Travel industry
    by developing Non-natural Intellectual ability (NI)
    with Device Learning (DL) techobabbles
    to solve the Indeterministic Sub-exponential-time uneasy (IS-uneasy)
    Mobile Salesperson Problem (MSP).
</p>

<h2>🚧 Under Construction 🚧</h2>

<h3>Test cases</h3>

<ul>
    <li><a href="/css/">CSS</a></li>
    <li><a href="/headers/">Response headers</a></li>
    <li><a href="/html/">HTML</a></li>
    <li><a href="/javascript/">JavaScript</a></li>
    <li><a href="/misc/">Misc</a></li>
</ul>

<p id="footnote-1">
   *Hamster years
   <a href="#footnote-1-ref">&#8617;</a>
</p>

<hr>

<p>
    Powered by <a href="https://github.com/google/security-crawl-maze">Security Crawl Maze</a>
</p>

</body>
</html>
